.main-chat
  .main-chat__main-header
    .main-chat__main-header__left-box
      プログラミング
      .main-chat__main-header__left-box__inf
        %ul.main-chat__main-header__left-box__inf__member-name
          Member:
          %li.main-chat__main-header__left-box__inf__member-name
            sho_nakao
          %li.main-chat__main-header__left-box__inf__member-name
            SHO_NAKAO
    -# %a{type:"button",class:"main-chat__main-header__edit-btn",link_to:"#"}
    = link_to "/groups/1/edit", class:"main-chat__main-header__edit-btn" do
      Edit

  .messages
    = render @messages
 
  .main-chat__form
    .main-chat__form__form-box
      .main-chat__form__form-box__input-box
        = form_for [@group, @message] do |f|
          .input-box
            = f.text_field :content, class: 'main-chat__form__form-box__input-box__text', placeholder: 'type a message'
            = f.label :image, class: 'main-chat__form__form-box__input-box__text__image' do
              = icon('fas', 'image', class: 'icon')
              = f.file_field :image, class: 'main-chat__form__form-box__input-box__file'
          = f.submit 'Send', class: 'main-chat__form__form-box__submit-btn'