.side-bar
  .side-bar__name
    .side-bar__name__user-box
      %p.side-bar__name__user-box__inf
        = current_user.name
      %ul.side-bar__name__user-box__icons
        %li.side-bar__name__user-box__icons__new
          = link_to new_group_path do
            = icon('fas','edit')
        %li.side-bar__name__user-box__icons__edit
          = link_to edit_user_path(current_user) do
            = icon('fas','cog')
            
  .side-bar__groups
    - current_user.groups.each do |group|
      .side-bar__groups__group
        = link_to group_messages_path(group) do
          .group
            %p.side-bar__groups__group__name
              = group.name
            %p.side-bar__groups__group__message
              = group.show_last_message
